<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.gabriel.manuscriptwatcher</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/gabrielmcp/Library/CloudStorage/GoogleDrive-gabemcpherson@gmail.com/My Drive/Manuscript Masters/string-theory-chapters/.venv/bin/python3</string>
        <string>/Users/gabrielmcp/Library/CloudStorage/GoogleDrive-gabemcpherson@gmail.com/My Drive/Manuscript Masters/string-theory-chapters/watch_manuscript.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/gabrielmcp/Library/CloudStorage/GoogleDrive-gabemcpherson@gmail.com/My Drive/Manuscript Masters/string-theory-chapters</string>
    <key>StandardOutPath</key>
    <string>/Users/gabrielmcp/Library/CloudStorage/GoogleDrive-gabemcpherson@gmail.com/My Drive/Manuscript Masters/string-theory-chapters/watcher_stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/gabrielmcp/Library/CloudStorage/GoogleDrive-gabemcpherson@gmail.com/My Drive/Manuscript Masters/string-theory-chapters/watcher_stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/gabrielmcp/.local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
